{% extends "proof/base.html" %}
{% load static %}
{% block title %}比特币发币存证（暂时未用){% endblock %}

{% block list %}
    {% if name_list %}
        {% for name in name_list %}
        <li><a href= "{% url 'proof:btcnames' name %}">{{ name }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block proof %}
{% if proof %}
<ul>
    <p>txid: {{ proof.txid }}</a></p>
    <p>issuer: {{ proof.issuer }}</a></p>
    <p>address: {{ proof.address }}</a></p>
    <p>state: {{ proof.state }}</a></p>
    <p>name: {{ proof.name }}</a></p>
    <p>update block: {{ proof.update_block }}</a></p>
    <p>create block: {{ proof.creation_block }}</a></p>
</ul>
{% else %}
<p>No proof are available.</p>
{% endif %}

{% endblock %}
