<!doctype html>
{% extends "proof/base.html" %}

{% load static %}
{% block title %}比特币转账存证{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if proof_list %}
<ul>
    {% for proof in proof_list %}
    <div class="form-group">
        <li><a href="{% url 'proof:violasproofforheight' proof.height %}">{{ proof.height }}</a></li>
        <a href="{% url 'proof:violasproofforstate' proof.state %}">{{ proof.state }}</a>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No btc proof are available.</p>
{% endif %}
{% endblock %}
